*.png
*.pdf
.vscode/
__pycache__/
*.so
build/
*.log
*.npy
*.csv
*.pt
*.pkl
*.json
result*
data/cad
data/raw
misc
.venv/
tool/innovus_ispd2015_fix/ispd2015_fix*
tool/innovus_ispd2015_fix/innovus_work*
tool/innovus_ispd2015_fix/nohup.out